// Override values not dependent on initial variables

// Navbar
$navbar-box-shadow-size: 0 10px 20px -10px;

// Import Bulma and Buefy styles
@import '@/assets/scss/main.scss';
@import '~buefy/src/scss/buefy';

:root {
  --link-hover: var(--primary--dark-color);
  --navbar-background-color: var(--scheme-main);
}

:root[data-theme='dark'] {
  --scheme-main: hsl(137, 5%, 19%);
  --scheme-main-bis: hsl(137, 5%, 27%);
  --background: hsl(137, 5%, 29%);
  --text: hsl(0, 0%, 79%);
  --border: hsl(137, 5%, 39%);
  --navbar-box-shadow-color: var(--black);
  --navbar-dropdown-item-hover-color: hsl(0, 0%, 96%);
}
